/* Referenced interact.js-master/demo/css/dropzones.css */

/* This is for the weather block */ 
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.swiper-container-reg {
    position: absolute;
    width: 500px;
    height: 200px;
    left: -110px;
    top: 45px;
}

.swiper-container-reg-cpy {
    position: absolute;
    width: 500px;
    height: 200px;
    left: -100px;
    top: 45px;
}

.swiper-slide {
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-container-ver {
    top: 0px;
    left: 0px;
    position: absolute;
}

.swiper-container-hor {
    top: 0px;
    left: 0px;
    position: absolute;
}

.swiper-container-par {
    top: 0px;
    left: 0px;
    position: absolute;
}

#vertical-frame {
    opacity:0.5;
    border-style:solid;
    width:270px;
    height:270px;
    border-width:1px;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,.2);
    background:rgba(0,0,0,.25);
}

#horizontal-frame {
    opacity:1;
    border-style:solid;
    width:240px;
    height:240px;
    border-width:1px;
    border-radius: 10px;
}

/* end weather block css */

p {
    color: black;
}

.swiper-slide img {
    width: 150px;
    height: 150px;
}


body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    color: #777;
    width: 970px;
    height: 1730px;
    background-color: #F3FFE2;
    -webkit-user-select: none;
}

.block_bank_wrapper {
    z-index: 10;
    position: absolute;
    top: 20px;
}

.dropzone_wrapper {
    position: relative;
    top: 720px;
}

.text {
    font-size: 40px;
    color: #777;
    margin-left: 20px;
}

/* INTERACTABLES */
.dropzone {
    float: left;
    width: 300px;
    height: 300px;
    line-height: 290px;
    /*color: #666;*/
    text-align: center;
    /*background: #F3FFE2;*/
    border: 4px dashed #ACF0F2;
    margin: 7px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.dropzone.drop_possible {
    /*border-color: #666;*/
    box-shadow: 0 0 250px #ACF0F2; /* glow */
}

.dropzone.drop_over {
    /*background: #666;*/
    color: #fff;
}

.draggable {
    overflow: hidden;
    border: 2px solid #F3FFE2;
    border-radius: 10px;
    position: relative;
    float: left;
    width: 290px;
    height: 290px;
    background-color: #1695A3;
    color: #F3FFE2;
    text-align: center;
    vertical-align: center;
    line-height: 280px;
    margin: 15px;
    box-shadow: 0 8px 6px -6px black;
}

.draggable.drop_possible {
    background-color: #EB7F00;
}

.draggable.drop_over {
    background-color: #225378;
}

.not_draggable {
    overflow: hidden;
    border: 2px solid #F3FFE2;
    border-radius: 10px;
    position: relative;
    float: left;
    width: 290px;
    height: 290px;
    background-color: #1695A3;
    color: #F3FFE2;
    text-align: center;
    vertical-align: center;
    line-height: 280px;
    margin: 15px;
    box-shadow: 0 8px 6px -6px black;
}

.not_draggable.drop_possible {
    background-color: #EB7F00;
}

.not_draggable.drop_over {
    background-color: #225378;
}

/* BUTTONS */
#run {
    position: absolute;
    top: 1570px;
    left: 125px;
    width: 300px;
    height: 100px;
    font-size: 40px;
    color: #585D5E;
    background-color: #c9c9c9 ;
    border-radius: 20px;
    box-shadow: 0 8px 6px -6px #777;
}

#run:active {
    background-color: #777;
}

#reset {
    position: absolute;
    top: 1570px;
    left: 500px;
    width: 300px;
    height: 100px;
    font-size: 40px;
    color: #585D5E;
    background-color: #c9c9c9;
    border-radius: 20px;
    box-shadow: 0 8px 6px -6px #777;
}

#reset:active {
    background-color: #777;
}

/* WEATHER BLOCK */
/*.wi {
    font-size: 130px;
    text-align: center;
    vertical-align: center;
    line-height: 280px;
}*/
/* Weather things */

#drag2 {
    position: relative;
    overflow: hidden;
}

.wi {
    font-size: 35px;
    /*text-align: center;
    vertical-align: center;
    line-height: 240px*/
    line-height: 58px;
}

#weather {
    position: absolute;
    top: 85px;
    left: 35px;
    width: 50px;
    height: 50px;
    font-size: 157.5px;
    /*line-height: 0px;*/
}

#sunny {
    position: absolute;
    top: 0px;
    left: 230px;
    width: 50px;
    height: 50px;
   /* font-size: 40px;*/
    /*line-height: 0px;*/
}

#cloudy {
    position: absolute;
    top: 0px;
    left: 10px;
    width: 50px;
    height: 50px;
    /*font-size: 40px;*/
    /*line-height: 0px;*/
}

/* MAP BLOCK */
#google_map{
    width: 220px;
    height: 220px;
    left: 35px;
    top: 35px;
    line-height: 0px;
}

/* CLOCK BLOCK */
.arrowUp {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 30px;
    left: 9px;
}

.arrowDown {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 200px;
    left: 9px;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

#hoursBlock {
    position: relative;
    left: 30px;
    width: 70px;
}

#minutesBlock {
    position: relative;
    left: 110px;
    width: 70px;
}

#timeBlock {
    position: relative;
    left: 200px;
    width: 70px;
}

#drag7 {
    position: relative;
    font-family: Orbitron;
    font-size: 130%;
}

#hours {
    position: absolute;
    /*left: 10px;
    width: 70px;
    top: 10px;*/
}

#colon {
    position: absolute;
    left: 90px;
}

#minutes {
    position: absolute;
    /*left: 90px;
    width: 70px;*/
}

#time {
    position: absolute;
   /* left: 160px;
    width: 70px;*/
}

/* CAMERA BLOCK */
#video {
    position: absolute;
    top: 35px;
    -webkit-transform: scale(1.4, 1.4);
    -webkit-transform-origin: center center;
}

#photo {
    position: relative;
    -webkit-transform: scale(1.4, 1.4);
    -webkit-transform-origin: center center;
    top: -310px;
}

/* YOUTUBE BLOCK */
#youtube_pic{
    position: absolute;
    left:30px;
    top: 20px;
}

#image_pic {
    position: absolute;
    width: 140px;
    top: 30px;
    left: 70px;
    height: 100px;
}

#youtube_input, #image_input, #text_input {
    position: absolute;
    top: 150px;
    left: 40px;
    width: 200px;
    font-size: 25px;
}

#youtube_button{
    position: absolute;
    top:190px;
    left: 100px;
    width: 95px;
    height: 95px;
}


#youtube_video{
    position: absolute;
    left:0px;
}

/* IMAGE RECOGNITION BLOCK */
#image_block {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
}

#text_field{
    font-size: 90px;
    position: absolute;
    top: -40px;
    left: 30px;
}